<style type="text/css">

<!--

body         { font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#2b4973; font-size:12px; }

td, th       { font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#2b4973; font-size:12px; font-weight:normal }

a:link {font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#176ec0; text-decoration:underline }

a:visited {font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#aaaaaa; text-decoration:underline }

a:hover {font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#fe6000; text-decoration:underline }

.normal      { font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#bbbbbb; font-size:12px; font-weight:normal }

.caption     { font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#ffffff; font-size:12px; font-weight:bold }

.title       { font-family:Philips Screen Font 2,arial,helvetica,sans-serif; color:#ffffff; font-size:18px; font-weight:bold }



-->

</style>

