# Name:Tudor DICOM
# Generate the jar file using:
#     jar cvfM jar_demo.jar JAR_Plugin.class JAR_Plugin.java plugins.config

File>Import, "Open DICOM", Open_Dicom_File
File>Save As, "Save DICOM", Save_As_Dicom
#Plugins>Tudor DICOM, "Open DICOM...", Open_Dicom_File
#Plugins>Tudor DICOM, "Save DICOM...", Save_As_Dicom
Plugins>Tudor DICOM, "Send DICOM...", Send_As_Dicom
Plugins>Tudor DICOM, "DICOM Manager...", DICOM_Manager
Plugins>Tudor DICOM, "Open next Image from DICOM STORE...", Open_Dicom_File("next_image")
Plugins>Tudor DICOM, "Open next Series from DICOM STORE...", Open_Dicom_File("next_series")
Plugins>Tudor DICOM, "Delete Image from DICOM STORE...", Delete_From_Dicom
Plugins>Tudor DICOM, "Show DICOM Header...", Show_Dicom_Header
Plugins>Tudor DICOM, "Show DICOM Hex...", Show_Dicom_Hex
Plugins>Tudor DICOM, "Get DICOM Value...", Get_Dicom_Value
Plugins>Tudor DICOM, "Settings...", Settings_
Plugins>Tudor DICOM, "Help...", Help_
Help>About Plugins, "Tudor DICOM...", About_